<button (click)="toggleTheme()"
    class="p-2.5 rounded-xl bg-gray-100/80 dark:bg-gray-800/80 backdrop-blur-md text-gray-800 dark:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-700 transition-all duration-300 border border-gray-200 dark:border-gray-700 shadow-sm group active:scale-95 cursor-pointer"
    aria-label="Toggle Theme">
    <div class="relative w-5 h-5">
        @if (theme() === 'dark') {
        <lucide-icon [img]="Moon" [size]="20"
            class="absolute inset-0 m-auto text-yellow-400 fill-yellow-400/20 transition-all duration-300"></lucide-icon>
        } @else {
        <lucide-icon [img]="Sun" [size]="20"
            class="absolute inset-0 m-auto text-orange-500 fill-orange-500/20 transition-all duration-300"></lucide-icon>
        }
    </div>

</button>