<div #containerRef class="pt-32 min-h-screen pb-20 transition-colors duration-300 relative overflow-hidden">
    <app-particles className="absolute inset-0 z-0" [quantity]="120" [ease]="80" color="#cbd5e1"
        [refresh]="true"></app-particles>
    <!-- Animated Background Element -->
    <div class="fixed top-0 right-0 -z-10 w-[500px] h-[500px] bg-primary/5 rounded-full blur-[120px] animate-pulse">
    </div>
    <div class="fixed bottom-0 left-0 -z-10 w-[600px] h-[600px] bg-secondary/10 rounded-full blur-[120px]"></div>
    <div class="fixed top-1/2 left-1/4 -z-10 w-[300px] h-[300px] bg-[#182B0C]/5 rounded-full blur-[100px]"></div>

    <div class="container mx-auto px-4 md:px-6 max-w-4xl relative z-10">
        <div #titleRef class="mb-16 border-l-8 border-secondary dark:border-white pl-8 py-2">
            <h1
                class="text-4xl md:text-7xl font-black mb-4 text-transparent bg-clip-text bg-gradient-to-r from-[#080F4A] to-[#182B0C] dark:from-white dark:to-gray-400 tracking-tighter">
                {{ title }}
            </h1>
            @if (lastUpdated) {
            <div class="flex items-center gap-2 text-[#182B0C] font-semibold dark:text-gray-400">
                <span class="w-12 h-[2px] bg-gradient-to-r from-[#182B0C] to-transparent"></span>
                Last Updated: {{ lastUpdated }}
            </div>
            }
        </div>

        <div #contentRef
            class="prose prose-lg prose-blue max-w-none text-gray-700 dark:text-gray-300 dark:prose-invert 
            bg-white/40 dark:bg-gray-900/30 backdrop-blur-md rounded-[2.5rem] p-10 md:p-16 border border-white/40 shadow-[0_32px_64px_-16px_rgba(8,15,74,0.1)]">
            <ng-content></ng-content>
        </div>
    </div>
</div>