<a href="https://wa.me/916262629831" target="_blank" rel="noopener noreferrer"
    class="fixed bottom-6 right-6 z-40 bg-[#25D366] text-white p-3 rounded-full shadow-lg hover:shadow-xl hover:bg-[#20bd5a] transition-all duration-300 transform hover:scale-110 flex items-center justify-center w-[60px] h-[60px]"
    aria-label="Chat on WhatsApp">
    <lucide-icon [img]="MessageCircle" [size]="32" fill="white" class="text-white"></lucide-icon>
</a>

<script src='https://www.noupe.com/embed/019c328c735e7f3b97607bc9d08f7070619f.js'></script>